.navbar {
  background: #EBFCFB;
  min-height: 33px;
  border-radius: 0%;
  width: 100%;
  text-align: center;
  margin: 0%;
  box-shadow: 0px 0px 6px 0px;
}

.nav li {
  display: none;
}

.template {
  display: none;
}

#headshot {
  border-radius: 50%;
}

.project-img {
  border-radius: 2%;
}

@media all and (min-width: 960px) {
  .nav li {
      display: inline-block;
      padding: 2%;
    }
  }
}
