.nav li {
  display: none;
}

.template {
  display: none;
}

#headshot {
  border-radius: 50%;
}

.project-img {
  border-radius: 2%;
}

@media all and (min-width: 960px) {
  .nav li {
      display: inline-block;
      padding: 2%;
    }
  }
}
