img {
  max-width: 100%;
  height: auto;
}

a > img {
  max-width: 50%;
}

/*li {
  display: none;
}*/

body {
  background-color: #BEEEF2;
  color: #1E8892;
}

h1 > p {
   margin-top:0%;
   margin-bottom:0%;
}

@media all and (min-width: 960px) {
  button {
      display: none;
    }
  }
}
